<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="
          http://maven.apache.org/SETTINGS/1.0.0
          https://maven.apache.org/xsd/settings-1.0.0.xsd">

    <mirrors>
        <mirror>
            <id>jfrog-mirror</id>
            <name>JFrog Virtual Mirror</name>
            <url>https://trialxcztq9.jfrog.io/artifactory/secops-pipeline-maven-virtual</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>

    <servers>

        <server>
            <id>jfrog-mirror</id>
            <username>${jfrog.user}</username>
            <password>${jfrog.apikey}</password>
        </server>

        <server>
            <id>jfrog-virtual</id>
            <username>${jfrog.user}</username>
            <password>${jfrog.apikey}</password>
        </server>

        <server>
            <id>jfrog-release</id>
            <username>${jfrog.user}</username>
            <password>${jfrog.apikey}</password>
        </server>

        <server>
            <id>jfrog-snapshot</id>
            <username>${jfrog.user}</username>
            <password>${jfrog.apikey}</password>
        </server>

    </servers>

</settings>